/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000000;
}
#errorFinder {
  background-color: yellow;
  color: red;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background-image: url('../img/matrixbackground.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

*{
  font-family: "Courier New", Courier, monospace; 
  color: #ffffff;

}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.imagefront {
  height: 200px;
  width: 300px;
  position: center;

.sign_up
  font-size: 30px;
}

a, .navbar-brand, h1, p{
  color: #ffffff;
}

.navbar, .col-md-4, .page-header, #extra-search-small, .form-signin-heading, .row{
  background-color: #000000;
  color: #ffffff;
}

.signup {
  color: #000000;
}
/* Buttons */
.btn {
  background: #57d943;
  background-image: -webkit-linear-gradient(top, #57d943, #03070a);
  background-image: -moz-linear-gradient(top, #57d943, #03070a);
  background-image: -ms-linear-gradient(top, #57d943, #03070a);
  background-image: -o-linear-gradient(top, #57d943, #03070a);
  background-image: linear-gradient(to bottom, #57d943, #03070a);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 14px;
  padding: 7px 18px 7px 18px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc43;
  background-image: -webkit-linear-gradient(top, #3cfc43, #010301);
  background-image: -moz-linear-gradient(top, #3cfc43, #010301);
  background-image: -ms-linear-gradient(top, #3cfc43, #010301);
  background-image: -o-linear-gradient(top, #3cfc43, #010301);
  background-image: linear-gradient(to bottom, #3cfc43, #010301);
  text-decoration: none;
}

.largebtn {
  background: #57d943;
  background-image: -webkit-linear-gradient(top, #57d943, #03070a);
  background-image: -moz-linear-gradient(top, #57d943, #03070a);
  background-image: -ms-linear-gradient(top, #57d943, #03070a);
  background-image: -o-linear-gradient(top, #57d943, #03070a);
  background-image: linear-gradient(to bottom, #57d943, #03070a);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 22px;
  padding: 7px 18px 7px 18px;
  text-decoration: none;
}

.largebtn:hover {
  background: #3cfc43;
  background-image: -webkit-linear-gradient(top, #3cfc43, #010301);
  background-image: -moz-linear-gradient(top, #3cfc43, #010301);
  background-image: -ms-linear-gradient(top, #3cfc43, #010301);
  background-image: -o-linear-gradient(top, #3cfc43, #010301);
  background-image: linear-gradient(to bottom, #3cfc43, #010301);
  text-decoration: none;
}

.col-md-4{

}
